.menu {
  display: flex;
  z-index: 200;
  background-color: $bgMenu;

  .theme {
    width: 78px;
    height: 100%;
    background-color: #202225;
  }

  .step {
    width: 320px;
    transition: all 0.5s;

    &__wraper {
      position: sticky;
      top: 57px;
    }

    &__top {
      padding: 0px 30px 35px;
      border-bottom: 2px solid #202225;

      .search {
        width: 100%;
        border-radius: 50px;
        border: none;
        background-color: #202225;
        color: $bgMenu;
        padding: 7px 24px;
      }
    }

    &--hide {
      width: 72px;
      & .step__top {
        padding: 0px;
        border: none;
      }

      & .search {
        // display: none;
        visibility: hidden;
        align-self: center;
      }

      & .menu__panel {
        flex-direction: column;
      }

      & .btn {
        transform: rotate(180deg);
        align-self: center;
        order: 1;
      }

      & .switch {
        margin-top: 80px;
        order: 2;
        align-self: center;
      }

      & .step__chapter {
        visibility: hidden;
      }
    }
  }
}

.menu__panel {
  display: flex;
  justify-content: space-between;

  & .switch {
    margin-top: 37px;
    width: 40px;
    height: 20px;
    background-color: $mainColor;
    border-radius: 100px;
    position: relative;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: $bgMenu;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 2px;
      transition: left 0.3s;
    }
  }
  .switch--active {
    &::after {
      left: 22px;
    }
  }
}

.btn__hide {
  align-self: flex-end;
}

.step__chapter {
  list-style-type: none;
  padding: 0px 20px;
  margin-top: 57px;

  & .step__link {
    width: 100%;
    padding: 10px;
    display: inline-block;
    color: $mainColor;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 10px;
    transition: background 0.3s;

    &:hover {
      background-color: $bgTopPanel;
    }

    &--focus {
      color: $extraColor;
    }
  }
}

.arrow-scroll {
  display: flex;
  flex-direction: column;
}

.next,
.prev {
  width: 10px;
  align-self: center;
}

.next {
  margin-top: 60px;
}

.arrow-scroll--hide {
  visibility: hidden;
}

.theme {
  &__content {
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    align-self: center;
    margin-left: 7px;
    background-color: $extraColor;
    width: 100%;
    & img {
      display: block;
      margin: 0px auto;
      width: 50px;
    }
  }
}
