* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  color: $mainColor;
  font-family: $ffamilyMain;
  font-size: $fsizeMain;
  background-color: $bgMain;
}

.container {
  max-width: $whContainer;
  margin: 0 auto;
  padding: 0rem 1rem;
}

.wraper {
  display: flex;
  justify-content: space-between;
}

.top-panel {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $bgTopPanel;
  & p {
    padding: 0.7rem 0px;
    font-size: 14px;
    margin-left: 85px;
  }

  & span {
    color: $extraColor;
  }
}

path {
  fill: $mainColor;
}

