.btn-up {
  position: fixed;
  border-radius: 100%;
  border: 2px solid $extraColor;
  opacity: 0;
  z-index: 101;
  bottom: 5rem;
  right: 5%;
  width: 4rem;
  height: 4rem;
  transition: opacity 0.3s;
  & img {
    width: 100%;
    padding: 0.5rem;
    animation: arrowUp 1s infinite linear;
  }
  &:hover {
    opacity: 1;
  }
  &--active {
    opacity: 0.5;
  }
}

@keyframes arrowUp {
  25% {
    transform: translate(0px, -5px);
  }
  50% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
