footer {
  background-color: rgb(46, 46, 46);
  margin-top: 5rem;
  & .container {
    display: flex;
    justify-content: space-between;

    color: white;
    padding: 2rem 0rem;
  }
  & a {
    color: $extraColor2;
    // text-decoration: none;
  }
  //   animation: light 20s infinite linear;
}
