@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 13px;
  }
  .header .nav {
    display: none;
  }
  .mobile-nav-btn__wrapper {
    display: flex;
  }
}

@media (max-width: 600px) {
  .welcome-window {
    & p {
      min-width: 5rem;
    }
  }
}

@media (max-width: 550px) {
  html {
    font-size: 12px;
  }
}
