section {
  & p {
    margin-top: 1rem;
    text-indent: 1.8em;
    text-align: justify;
  }
  & img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
  }
  & ul {
    margin-left: 1rem;
  }
  & li {
    margin-top: 1rem;
  }
}

.section-title {
  // margin-top: -5rem;
  padding: 4rem 0rem 4rem;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    width: 4rem;
    height: 2px;
    background-color: $extraColor;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2rem;
  }
}

.section__subtitle {
  text-align: center;
  text-indent: 0;
  margin-top: 2rem;
}

.selection-text {
  position: relative;
  margin-bottom: 1rem;
  & p {
    text-indent: 0;
    margin-left: 2rem;
    &::before {
      content: "";
      height: 100%;
      width: 3px;
      background-color: $extraColor;
      position: absolute;
      left: 0;
      top: 0%;
    }
  }
  &__hint {
    & p {
      &::before {
        background-color: $extraColor2;
      }
    }
  }
}

.about-lessons {
  margin-top: 5rem;
  // min-height: 80vh;
}
