// var
$whContainer: 1200px;
$fsizeMain: 15px;
$ffamilyMain: "Raleway", sans-serif;
$mainColor: #ebebeb;
$mainText: #000000;
$extraColor: #4f3ab7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: $ffamilyMain;
  font-size: $fsizeMain;
}

body {
  background-color: $mainColor;
}

.container {
  max-width: $whContainer;
  margin: 0 auto;
  padding: 0rem 1rem;
}

//import
@import "_header.scss";

@import "_media.scss";
