// var
$whContainer: 1200px;
$fsizeMain: 15px;
$ffamilyMain: "Raleway", sans-serif;
$mainColor: #ebebeb;
$mainText: #000000;
$extraColor: rgb(0, 70, 151);
$extraColor2: rgb(221, 163, 37);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: $ffamilyMain;
  font-size: $fsizeMain;
  & p {
    line-height: 1.7rem;
  }
}

body {
  background-color: $mainColor;
  min-height: 110vh;
}

.container {
  max-width: $whContainer;
  margin: 0 auto;
  padding: 0rem 1rem;
}

.image-darker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 71, 151, 0.438);
}

//import
@import "_header.scss";
@import "_welcome.scss";
@import "_section.scss";
@import "_footer.scss";

@import "_media.scss";
