.section{
}

/*title*/

.title{
    margin: 90px 0;
}

.title__name{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 2.4px;
    font-weight: 700;
}

.title__name::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: red;
    margin: 40px auto;
}

.title__text{
    max-width: 1200px;
    min-width: 0px;
    margin: 0% auto;
    font-size: 24px;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    border-left: red 3px solid;
    padding:0 40px;
}

.red{
    text-decoration: none;
    color: red;
}

.red:hover{
    text-decoration: underline;
}

.welow{
    color: #FFCF00;
    text-decoration: none;
}

.religi{
    padding: 40px;
    background-color: #3D3D43;
}

.religi__wrap{
    justify-content: space-around;
    margin-top: 30px;
    display: flex;
}

.religi__title{
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*.section__Gods*/

.Gods{
    padding: 40px;
    background-color:#3D3D43;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Gods__wrap{
    display: flex;
    justify-content: space-around;
}

.Gods__item{
    display: block;
    overflow:hidden;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.Gods__img{
    transition-property: all;
    transition-duration: 300ms;
}

.Gods__img:hover{
    transform: scale(1.2); 
}

.name__text{
    color: white;
    text-align: center;
    margin-top: 20px;
}

/*comandos*/


.comandos__info{
    display: none;
}

.comandos__img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transition-duration: 300ms;
    transition-property: all;
}

.comandos__wrap{
    max-width: 1200px;
    min-width: 0px;
    display: flex;
    justify-content: space-between;
}

.comandos__name{
    color: white;
    align-self: center;
    font-size: 30px;
}

.comandos__icon{
    margin: 20px 0;
    background-color: rgba(187, 0, 0, 0.877);
    padding: 30px;
}

.icon-2{
    background-color: rgb(219, 110, 0);
}

.icon-3{
    background-color: rgb(207, 207, 5);
}

.icon-4{
    background-color: #00733D;
}

.icon-5{
    background-color: rgb(52, 36, 196);
}

.icon-6{
    background-color: rgb(105, 2, 126);
}

.comandos__item:hover .comandos__img{
    transform: scale(1.5); 
}

.comandos__item:hover .comandos__info{
    display:block;
    transition-duration: 300ms;
    transition-property: all;
}

.comandos>a{
    text-decoration: none;
}

.wrap__info-comandos{
    max-width: 1200px;
    min-width: 0px;
    color: black;
    line-height: 30px;
    margin: 0 auto;
    border-left: 3px red solid;
    padding: 0 10px;
}

.title__comandos{
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4px;
}

/*games*/

.games__link{
    display: block;
    overflow:hidden;
}

.games{
    background-color: #3D3D43;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.games__img{
    transition: all 300ms;
    margin:10px 10px;
    align-content: center;
}

.games__img:hover{
    transform: scale(1.2); 
}

/*footer*/

.footer{
    background: url(../../image/bg/footer.jpg) no-repeat bottom center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

.footer__text{
    color: white;
    align-self: flex-end;
}

.scroll__up{
    margin: 20px 20px;
    border-radius: 100%;
    background-color: #3D3D43;
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0.5;
    transition-duration: 300ms;
    transition-property: all;
}

.scroll__up:hover{
    opacity: 1;
    padding: 10px;
    margin: 10px 10px;
}