.update-search {
  padding: 5rem 0;
  border-bottom: 1px solid gray;
}

.rase__content {
  padding: 5rem 0rem;
  width: 100%;
}

.rase__row {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.rase__item {
  width: 22rem;
  color: white;
  border: 2px solid #ff9900;
  border-radius: 0px 1rem 1rem 1rem;
  background-color: #ff9900c0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.rase__item img {
  width: 100%;
}

.rase__item p {
  text-align: left;
  padding: 0rem 1rem 1rem 1rem;
}
.rase__item h3 {
  padding: 1rem 1rem 0rem 1rem;
}

.rase__item a {
  display: block;
  text-align: right;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
