* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }

html { font-family: "Raleway", sans-serif; font-size: 15px; }

html p { line-height: 1.7rem; }

body { background-color: #ebebeb; min-height: 110vh; }

.container { max-width: 1200px; margin: 0 auto; padding: 0rem 1rem; }

.image-darker { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; background: rgba(0, 71, 151, 0.438); }

.header__top { top: 0; left: 0; position: fixed; width: 100%; display: flex; justify-content: space-between; padding: 0rem 4rem 0rem 4rem; background-color: #ebebeb; z-index: 1000; box-shadow: 0px 1px 10px #004697; }

.header .nav { display: flex; list-style-type: none; font-size: 1.2rem; }

.header .nav__item { margin-left: 2rem; align-self: center; position: relative; }

.header .nav__item:hover .submenu { display: block; }

.header .nav__item .submenu { display: none; position: absolute; list-style-type: none; background-color: #ebebeb; box-shadow: 0px 2px 5px #004697; animation-duration: 0.3s; }

.header .nav__item .submenu__link { color: #004697; display: block; padding: 0.8rem 1rem; text-decoration: none; }

.header .nav__item .submenu__link:hover { color: white; }

.header .nav__item .submenu__item { transition: background-color 0.2s; }

.header .nav__item .submenu__item:hover { background-color: #004697; }

.header .nav__item i { font-size: 0.7rem; margin-left: 0.5rem; }

.header .nav__link { display: inline-block; text-decoration: none; color: #000000; padding: 0.8rem 1.2rem; border-radius: 0.5rem; transition: background-color 0.3s; }

.header .nav__link:hover { background-color: #004697; color: white; }

.logo { font-weight: 500; }

.logo__link { color: #000000; text-decoration: none; }

.mobile-nav-btn { width: 2.5rem; height: 0.2rem; background-color: #000000; align-self: center; position: relative; transition: all 0.2s; }

.mobile-nav-btn__wrapper { align-self: center; width: 2.5rem; height: 3rem; display: none; cursor: pointer; }

.mobile-nav-btn::before, .mobile-nav-btn::after { content: ""; position: absolute; width: 2.5rem; height: 0.2rem; background-color: #000000; transition: all 0.5s; }

.mobile-nav-btn::before { top: 0.7rem; }

.mobile-nav-btn::after { bottom: 0.7rem; }

.mobile-nav-btn--active { background-color: rgba(240, 248, 255, 0); }

.mobile-nav-btn--active::before { transform: rotate(-45deg); top: 0; }

.mobile-nav-btn--active::after { transform: rotate(45deg); bottom: 0; }

.mobile-nav { list-style-type: none; margin-top: 8rem; font-size: 1.5rem; }

.mobile-nav__wrapper { position: fixed; right: -101%; height: 100vh; background-color: #e4e4e4; box-shadow: -1px 0px 5px #c7c4c4; z-index: 999; transition: right 0.5s; }

.mobile-nav .nav__item { margin-left: 0rem; border-bottom: 1px solid black; }

.mobile-nav .nav__item .submenu { position: static; box-shadow: none; }

.mobile-nav .nav__item .submenu__link { width: 100%; }

.mobile-nav .nav__link { width: 100%; border-radius: 0%; padding: 1rem 4rem; }

.mobile-nav--active { right: 0%; }

.mobile-nav-close { width: 100%; height: 100vh; position: fixed; left: 0; top: 0; display: none; }

.mobile-nav-close--active { display: block; }

@keyframes light { 0% { box-shadow: 0px 1px 10px blue; }
  25% { box-shadow: 0px 1px 10px red; }
  50% { box-shadow: 0px 1px 10px green; }
  75% { box-shadow: 0px 1px 10px red; }
  100% { box-shadow: 0px 1px 10px blue; } }

.welcome-window { width: 100%; height: 60vh; background: url(../img/header-bg3.jpg) center center no-repeat fixed; background-size: cover; position: relative; display: flex; justify-content: center; flex-direction: column; }

.welcome-window h1 { align-self: center; font-size: 3rem; font-weight: 600; color: #eeeeee; z-index: 100; }

.welcome-window p { align-self: center; color: #cecece; font-size: 1.2rem; z-index: 100; margin-top: 0%; text-align: center; text-indent: 0; line-height: 2rem; }

section p { margin-top: 1rem; text-indent: 1.8em; text-align: justify; }

section img { display: block; margin: 0 auto; width: 100%; max-width: 500px; padding: 1rem; }

.section-title { margin-top: -5rem; padding: 9rem 0rem 4rem; text-align: center; position: relative; }

.section-title::after { content: ""; width: 4rem; height: 3px; background-color: #004697; position: absolute; left: 50%; top: 65%; margin-left: -2rem; }

.section__subtitle { text-align: center; text-indent: 0; margin-top: 2rem; }

.selection-text { position: relative; margin-bottom: 1rem; }

.selection-text p { text-indent: 0; margin-left: 2rem; }

.selection-text p::before { content: ""; height: 100%; width: 3px; background-color: #004697; position: absolute; left: 0; top: 0%; }

footer { background-color: #2e2e2e; }

footer .container { display: flex; justify-content: space-between; color: white; padding: 2rem 0rem; }

footer a { color: #dda325; }

@media (max-width: 1000px) { html { font-size: 14px; } }

@media (max-width: 850px) { html { font-size: 13px; }
  .header .nav { display: none; }
  .mobile-nav-btn__wrapper { display: flex; } }

@media (max-width: 600px) { .welcome-window p { min-width: 5rem; } }

@media (max-width: 550px) { html { font-size: 12px; } }
/*# sourceMappingURL=style.css.map */