* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }

html { color: var(--mainColor); font-family: Roboto, Areal; font-size: 16px; background-color: var(--bgMain); }

.pop-box { width: 100%; height: 70vh; z-index: -10; position: fixed; left: 0; top: 0; }

.container { max-width: var(--whContainer); margin: 0 auto; padding: 0rem 1rem; }

.wraper { display: flex; justify-content: space-between; }

.top-panel { position: fixed; width: 100%; z-index: 100; background-color: var(--bgTopPanel); }

.top-panel p { padding: 0.7rem 0px; font-size: 14px; margin-left: 85px; }

.top-panel span { color: var(--extraColor); }

path { fill: var(--mainColor); transition: fill 0.3s; }

.btn:hover path, .prev:hover path, .next:hover path { fill: var(--extraColor); }

::-webkit-scrollbar { width: 7px; }

::-webkit-scrollbar-track { background-color: rgba(255, 255, 255, 0); }

::-webkit-scrollbar-thumb { background-color: var(--bgTopPanel); border-radius: 100px; }

.menu { display: flex; z-index: 200; background-color: var(--bgMenu); }

.menu .theme { width: 78px; height: 100%; background-color: #202225; }

.menu .step { width: 320px; transition: all 0.5s; }

.menu .step__wraper { position: sticky; top: 57px; }

.menu .step__top { padding: 0px 30px 35px; border-bottom: 2px solid #202225; }

.menu .step__top .search { width: 100%; border-radius: 50px; border: none; background-color: #202225; color: white; padding: 7px 24px; }

.menu .step--hide { width: 72px; }

.menu .step--hide .step__top { padding: 0px; border: none; }

.menu .step--hide .search { visibility: hidden; align-self: center; }

.menu .step--hide .menu__panel { flex-direction: column; }

.menu .step--hide .btn { transform: rotate(180deg); align-self: center; order: 1; }

.menu .step--hide .switch { margin-top: 80px; order: 2; align-self: center; }

.menu .step--hide .step__chapter { animation-delay: 1s; display: none; }

.menu__panel { display: flex; justify-content: space-between; }

.menu__panel .switch { margin-top: 37px; width: 40px; height: 20px; background-color: var(--mainColor); border-radius: 100px; position: relative; }

.menu__panel .switch::after { content: ""; width: 16px; height: 16px; border-radius: 100%; background-color: var(--bgMenu); position: absolute; top: 50%; margin-top: -8px; left: 2px; transition: left 0.3s; }

.menu__panel .switch--active::after { left: 22px; }

.btn__hide { align-self: flex-end; }

.step__chapter { list-style-type: none; padding: 0px 20px; margin-top: 57px; }

.step__chapter .step__link { width: 100%; padding: 10px; display: inline-block; color: var(--mainColor); text-decoration: none; margin-top: 5px; border-radius: 10px; transition: background 0.3s; }

.step__chapter .step__link:hover { background-color: var(--bgTopPanel); }

.step__chapter .step__link--focus { color: var(--extraColor); }

.arrow-scroll { margin-top: 240px; display: flex; flex-direction: column; }

.next, .prev { width: 10px; align-self: center; }

.next { margin-top: 60px; }

.arrow-scroll--hide { visibility: hidden; }

.theme__content { position: sticky; overflow: hidden; top: 70px; display: flex; flex-direction: column; }

.theme__item { align-self: center; width: 100%; margin-bottom: 30px; }

.theme__item:hover path { fill: white; }

.theme__item path { fill: #b5b5b5; }

.theme__item--active { margin-left: 13px; background-color: var(--extraColor); border-radius: 10px 0px 0px 10px; }

.theme__item--active path { fill: var(--bgTopPanel); }

.theme__item a { padding: 10px 0px; display: block; margin: 0% auto; border-radius: 100%; }

.theme__item svg { width: 100%; object-position: 50%; }

.step__item--hide { display: none; }

.content { min-height: 100vh; width: 100%; position: relative; }

.content__text { padding: 113px 0px 350px; }

.content__text p { line-height: 30px; text-align: justify; letter-spacing: 0.1em; text-indent: 25px; }

.content__text .content__title { font-size: 25px; padding: 47px 0px; font-weight: normal; }

.for__link { position: absolute; text-align: center; display: block; left: 50%; transform: translate(-50%); bottom: 2rem; color: var(--bgTopPanel); text-decoration: none; transition: color 0.5s; }

.for__link:hover { color: var(--mainColor); }

.selection-text { padding: 47px 0px; margin-bottom: 1rem; }

.selection-text p { position: relative; margin-left: 63px; }

.selection-text p::before { content: ""; height: 100%; width: 2px; background-color: var(--extraColor); position: absolute; left: -63px; top: 0%; border-radius: 10px; }

.img__big, .img__middle, .img__small { padding: 47px 0px; margin: 0 auto; min-width: 500px; max-width: 700px; }

.img__big img, .img__middle img, .img__small img { width: 100%; }

.img__middle { min-width: 300px; max-width: 500px; }

.img__small { min-width: 100px; max-width: 300px; }
/*# sourceMappingURL=style.css.map */